* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fKgOZr a,
.fKgOZr span {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.lfxCfr a,
.lfxCfr span {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.gmmxUt a:hover {
    background-color: #e5ca1c;
    border-radius: 5px;
    padding: 7px;
}


@media screen and (max-width:476px) {


    .logoB img {
        position: absolute;
        top: 60%;
        left: 18%;
    }

    .gmmxUt {
        height: 150px;
        width: 95vw;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 20;
        display: flex;
        -moz-box-pack: center;
        justify-content: center;
        -moz-box-align: center;
        align-items: center;
        transition: transform 0.75s ease-in-out 0s;
        transform: translateY(0%);
    }

    /*   last slide  */
    .copyright {
        margin: 118% 0 0 0;
        justify-content: center;
    }


}

@media screen and (min-width:477px) {


    .gmmxUt {
        height: 150px;
        width: 50vw;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 20;
        display: flex;
        -moz-box-pack: center;
        justify-content: center;
        -moz-box-align: center;
        align-items: center;
        transition: transform 0.75s ease-in-out 0s;
        transform: translateY(0%);
    }
}

.lfxCfr {
    margin-right: 0px;
    background: transparent;
    border: medium;
    padding: 0px;
    cursor: pointer;
    position: relative;
}

.lfxCfr {
    margin-right: 0px;
    background: transparent;
    border: medium;
    padding: 0px;
    cursor: pointer;
    position: relative;
}

.fKgOZr {
    margin-right: 60px;
    background: transparent;
    border: medium;
    padding: 0px;
    cursor: pointer;
    position: relative;
}